{% extends "layout.html" %}
{% load static %}
{% block body %}
 <!-- ==========Banner Section Starts Here========== -->
 <section class="banner-section bg_img" data-background="{% static 'assets/images/banner/banner01.png'%}">
    <div class="container">
        <div class="banner-content cl-white">
            <h3 class="cate">فضای مهد کودک  ما بهترین است</h3>
            <h1 class="title">برای فرزندان شما</h1>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
          

           
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========About Section Starts Here========== -->
<section class="about-section section-right-shape padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-video ml-lg-4">
                    <img src="{% static 'assets/images/about/about01.jpg'%}" alt=" ">
                    <a href="https://www.youtube.com/embed/6E9J8biF8RE" class="video-button popup"><i class="flaticon-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header left-style">
                        <span class="cate mt-0">درباره ما</span>
                        <h3 class="title"> مهد کودکی  دوستانه که به دانش آموزان خود افتخار می کند</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
                    </div>
                    <ul class="nulla-list">
                        <li>
                            <div class="thumb">
                                <img src="{% static 'assets/images/about/icon01.png'%}" alt="درباره">
                            </div>
                            <div class="content">
                                محیط یادگیری
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="{% static 'assets/images/about/icon02.png'%}" alt="درباره ">
                            </div>
                            <div class="content">
                                مربیان حرفه ای
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="{% static 'assets/images/about/icon03.png'%}" alt="درباره ">
                            </div>
                            <div class="content">
                                برنامه ها برای همه
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="{% static 'assets/images/about/icon04.png'%}" alt="درباره">
                            </div>
                            <div class="content">
                                تدریس حرفه ای
                            </div>
                        </li>
                    </ul>
                    <div class="about-contact">
                        <div class="call-item">
                            <div class="thumb">
                                <img src="{% static 'assets/images/about/call.png'%}" alt=" ">
                            </div>
                            <div class="content">
                                <span class="info">هرگونه سوالی دارید تماس بگیرید</span>
                                <h5 class="subtitle"><a href="Tel:05137269005">05137269005</a></h5>
                            </div>
                        </div>
                        <div class="sign">
                            <img src="{% static 'assets/images/about/sign.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About Section Ends Here========== -->


<!-- ==========Counter Section Starts Here========== -->
<div class="counter-section padding-top padding-bottom bg_img" data-background="{% static 'assets/images/counter/counter-bg.jpg'%}">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <img src="{% static 'assets/images/counter/counter1.png'%}" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title odometer" data-odometer-final="830">  نفر120 </h2>
                        </div>
                        <span class="cate">کودکانی که  ثبت نام کردند</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <img src="{% static 'assets/images/counter/counter2.png'%}" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title">+</h2>
                            <h2 class="title odometer" data-odometer-final="26">17 نفر</h2>
                        </div>
                        <span class="cate">مربیان حرفه ای</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="counter-item">
                    <div class="counter-thumb">
                        <img src="{% static 'assets/images/counter/counter3.png'%}" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title">100</h2>
                            <h2 class="title odometer" data-odometer-final="100">0</h2>
                        </div>
                        <span class="cate">میزان موفقیت سالیانه</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Counter Section Ends Here========== -->


<!-- ==========Class Section Starts Here========== -->
<section class="class-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{% static 'assets/css/img/gallery1.png'%}" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">کلاس های مهد کودک  ما</span>
                    <h3 class="title">محبوب ترین کلاس های مهد کودک</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
         
              
                    <div class="container">
                        <div class="class-content">
                           <div class="card">
                              <div class="card-body">
                               <table class="table">
                                          
                                    <thead>
                                    
                                        
                                            
                                                <tr>
                                                <th>نام کلاس  </th>
                                                <th>نام  مربی </th>           
                                                <th>رروزهای کلاس   </th>
                                                <th> زمان کلاس </th>
                                                <th> رده سنی </th>    
                                                <th>شهریه</th> 
                                                <th>  تعداد جلسات  </th>
                                                <th>  تاریخ شروع </th>
                                            </tr>
                                    </thead>
                                    <tbody class="body-tabel">
                                               {% for item in tabel %}
                                                   <tr>
                   
                                                   <td>{{item.nameclas}}</td>            
                                                   <td>{{item.namemorabi}}</td>               
                                                   <td>{{item.roz}}</td>
                                                   
                                                   <td>
                                                           
                                                     {{item.time}}
                                                          
                                                       
                                                   
                                                   
                                                   </td>
                                                   <td>{{item.age}}</td>
                                                   <td> 
                                                       
                                                      {{item.price}} 
                                                       
                                                  </td>
                                                
                                      
                                                   <td>{{item.tedad_jalasat}}</td>
                                                   <td>{{item.datetime}}</td>
                                                 
                           
                           
                                                   <td>
                                           
                                                           </tr>
                                                {% endfor %}
                                           
                                    </tbody>
                               </table>  
                              </div>
                           </div>
                        </div>
                    </div>
        </div>                   
</section>
<!-- ==========Class Section Ends Here========== -->


<!-- ==========Facilities Section Starts Here========== -->
<section class="facilities-section">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-7 col-xl-6 px-0">
                <div class="facility-area padding-bottom padding-top bg_img" data-background="{% static 'assets/images/facilities/facility-bg2.jpg'%}">
                    <div class="facility-container">
                        <div class="cl-white section-header left-style">
                            <span class="cate">امکانات مهد کودک</span>
                            <h3 class="title">مراقبت روزانه از فرزندان خود.</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله</p>
                        </div>
                        <div class="facility-wrapper">
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/facilities/facility1.png'%}" alt="facility">
                                    </div>
                                    <h6 class="title">زمین بازی تمیز</h6>
                                </div>
                            </div>
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/facilities/facility2.png'%}" alt="facility">
                                    </div>
                                    <h6 class="title">سرویس مهد کودک</h6>
                                </div>
                            </div>
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/about/about01.jpg'%}" alt="facility">
                                    </div>
                                    <h6 class="title">مهد کودک مدرن</h6>
                                </div>
                            </div>
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/facilities/facility4.png'%}" alt="facility">
                                    </div>
                                    <h6 class="title">کلاس های رنگارنگ</h6>
                                </div>
                            </div>
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/facilities/facility5.png'%}" alt="facility">
                                    </div>
                                    <h6 class="title">یادگیری مثبت</h6>
                                </div>
                            </div>
                            <div class="facility-item">
                                <div class="facility-inner">
                                    <div class="facility-thumb">
                                        <img src="{% static 'assets/images/facilities/facility6.png'%}" alt="facility">
                                    </div>
                                    <h6 class="title">سرگرم کننده با بازی</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 px-0 bg_img" data-background="{% static 'assets/images/facilities/facility-bg.jpg'%}">
            </div>
        </div>
    </div>
</section>
<!-- ==========Facilities Section Ends Here========== -->


<!-- ==========Gallery Section Starts Here========== -->
<section class="gallery-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">گالری عکس</span>
                    <h3 class="title">گالری  ما</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb--40--50">
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option1 "> پیش1</a>
                                <img src="{% static 'assets/images/gallery/gallery2.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option2 "> پیش2</a>
                                <img src="{% static 'assets/images/gallery/gallery2.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
            
                      
                                <a href="/filter/Option3 "> نقاشی</a>
                                <img src="{% static 'assets/images/gallery/gallery1.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                            <h6 class="title"> گالری  پیش 1   </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option4 "> ورزش</a>
                                <img src="{% static 'assets/images/gallery/gallery2.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option5 "> مربی</a>
                                <img src="{% static 'assets/images/gallery/gallery3.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                         
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option6 "> کودک</a>
                                <img src="{% static 'assets/images/gallery/gallery5.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10">
                <div class="gallery-item">
                    <div class="gallery-inner">
                        <div class="gallery-thumb">
                            <a href="/filter/Option7 "> مهد</a>
                                <img src="{% static 'assets/images/gallery/gallery6.jpg'%}" alt="gallery">
                            </a>
                        </div>
                        <div class="gallery-content">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Gallery Section Ends Here========== -->


<!-- ==========Teacher Section Starts Here========== -->
<section class="teacher-section padding-bottom padding-top bg_img" data-background="{% static 'assets/images/teacher/teacher-bg.jpg'%}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">با کارکنان ما ملاقات کنید</span>
                    <h3 class="title">بهترین مربیان محبوب ما</h3>
                </div>
            </div>
        </div>
        <div class="row mb-30-none justify-content-center">
            <div class="col-lg-6">
                <div class="teacher-item">
                    <div class="teacher-inner">
                        <div class="teacher-thumb">
                            <div class="thumb-inner">
                               
                            </div>
                        </div>
                        <div class="teacher-content">
                            <table class="table">
                                <tbody class="body-tabel"> 
                                {% csrf_token %} 
                                {% for item in tabelp %}
                                    <tr>
                                        <td> <div class="thumb">
                                            <a href="/getp/{{item.id}}"> 
                                              <img  alt="پنل شخصی"  > 
                                                
                                             </a>
                                         </div>
                                        </td>     
                                        <td>{{item.name }} {{item.family}}</td>
                                  
                                        <td>
                                                <ul class="teacher-social justify-content-center">
                                                    <li>
                                                            <i class=""> <button type="button"  onclick="setp('{{item.name}}','{{item.family}}','{{item.cod_meli}}',{{item.mahal_tavalod}}','{{item.datetime}}','{{item.mizantahsilat}}','{{item.reshtetasili}}','{{item.doreamozeshi}}','{{item.sabeghekar}}',{{item.savabeghshoghli}}','{{item.semat}}','{{item.elattarkkar}}''{{item.semataknon}}','{{item.tahol}}',{{item.namehamsar}}','{{item.tedadfarzand}}','{{item.tel}}','{{item.telsabet}}','{{item.adress_m}}','{{item.imagp}}','{{item.id}}')"
                                                                class="" data-toggle="modal" data-target="#myModal">
                                                                        ویرایش
                                                                            </button></i>
                                                                    </li>
                                                                    <li>
                                                                    <i class="">
                                                                        <button type="button"  onclick="$('.id').val('{{item.id}}')"
                                                                                class="danger" data-toggle="modal" data-target="#myModaldelet">
                                                                        حذف
                                                                        </button>
                                                                        </i>
                                                                </li>
                                                                
                                                    </ul>
                                                </td>
                
                        
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                              <ul class="teacher-social">
                                <li>
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="vimeo"><i class="fab fa-vimeo-v"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="behance"><i class="fab fa-behance"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
<!-- ==========Teacher Section Ends Here========== -->


<!-- ==========Schedule Section Starts Here========== -->
<section class="schedule-section padding-top padding-bottom">
    <div class="top-shape-center">
        <img src="assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">جدول زمانبندی کلاس ها</span>
                    <h3 class="title">برنامه کلاس های ما</h3>
                </div>
            </div>
        </div>
        <div class="row mb--20--50 justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/tuesday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">8:30 صبح - 9:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">9:45 صبح - 10:45 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">چرتکه</h6>
                            <span class="time">11:00 صبح - 12:00 صبح</span>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/wednesday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/thursday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/friday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/saturday.pn'%}g">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Schedule Section Ends Here========== -->


<!-- ==========Client Section Starts Here========== -->
<section class="client-section padding-top padding-bottom bg_img" data-background="{% static 'assets/images/client/client-bg.jpg'%}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header cl-white">
                    <span class="cate">نظرات والدین</span>
                    <h3 class="title">آنچه والدین دانش آموزان می گویند</h3>
                </div>
            </div>
        </div>
        <div class="client-slider oh">
          
            <div class="client-item">
                <div class="client-header">
                    <div class="author">
                        <div class="content">
                            
                            
                        </div>
                    </div>
                    
                </div>
                <div class="comment-content">
                    {% csrf_token %} 
                    {% for item in tabel1 %}  
                    <div class="comment-header">
                        <h6 class="title"><a href="#"> {{item.namefull}}</a></h6>
                    
                    </div>
                    
                    <p>   {{item.masg}}</p>
                    
                       
                        <button type="button" onclick="setDelet('/delete/{{ item.id }}')" class="custom-button" data-toggle="modal" data-target="#myModal"><span>حذف </span></button></td>
               
                
                    {% endfor  %}  
                </div>
                          
                       
                   
                    <div class="ratings">
                        <span><i class="far fa-star"> </i></span>
                        <span><i class="far fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                </div>
            </div>
        
          
        </div>
    </div>
</section>
<!-- ==========Client Section Ends Here========== -->


<!-- ==========Blog Section Starts Here========== -->
<section class="blog-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">پست وبلاگ ما</span>
                    <h3 class="title">محبوب ترین پست های ما</h3>
                </div>
            </div>
        </div>
        <div class="row mb-30-none justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-single.html"><img src="{% static 'assets/images/blog/blog01.jpg'%}" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top">
                            <h5 class="title"><a href="blog-single.html">چگونه کودکان تجربه های زندگی را درک می کنند</a></h5>
                            <div class="post-meta cate">
                                <a href="#"><i class="far fa-calendar"></i> 14 بهمن 1400</a>
                                <a href="#"><i class="fas fa-user"></i> مریم همتی</a>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها.</p>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-single.html" class="read">ادامه مطلب</a>
                            <a href="#" class="comments"><i class="far fa-comments"></i> <span class="comment-number">2</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-single.html"><img src="{% static 'assets/images/blog/blog02.jpg'%}" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top">
                            <h5 class="title"><a href="blog-single.html">چرا کودکان متناسب با ایروبیک بهتر هستند؟</a></h5>
                            <div class="post-meta cate">
                                <a href="#"><i class="far fa-calendar"></i> 14 بهمن 1400</a>
                                <a href="#"><i class="fas fa-user"></i> مریم همتی</a>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها.</p>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-single.html" class="read">ادامه مطلب</a>
                            <a href="#" class="comments"><i class="far fa-comments"></i> <span class="comment-number">2</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-single.html"><img src="{% static 'assets/images/blog/blog03.jpg'%}" alt="blog"></a>
                    </div>
                    <div class="post-content">
                        <div class="post-top">
                            <h5 class="title"><a href="blog-single.html">چرا مهارت های هوازی مهارت های ریاضی بهتری دارند</a></h5>
                            <div class="post-meta cate">
                                <a href="#"><i class="far fa-calendar"></i> 14 بهمن 1400</a>
                                <a href="#"><i class="fas fa-user"></i> مریم همتی</a>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها.</p>
                        </div>
                        <div class="post-bottom">
                            <a href="blog-single.html" class="read">ادامه مطلب</a>
                            <a href="#" class="comments"><i class="far fa-comments"></i> <span class="comment-number">2</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog Section Ends Here========== -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">حذف نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         کاربر عزیز ایا مایل به حذف هستید
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a  class="custom-button" id="deleteItem" href=""  ><span>بله </span> </a>
          <button type="button" class="custom-button" data-dismiss="modal"><span>خیر </span></button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="edidmodal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ویرایش نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="editsave"  id="frmedit" method="post" >
                             {% csrf_token %}
                             {% for item in forms %}
                                 <div class="fom_group text-right">
                                     {{ item.label_tag}}
                                     {{ item }}

                                 </div>
                             {% endfor %}
                      <button type="submit" class="custom-button" ><span>ارسال </span></button>
                </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="custom-button" data-dismiss="modal"> <span>بستن فرم </span></button>
        </div>

      </div>
    </div>
  </div>
<div class="modal" id="addmodal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">افزودن نظر</h4>
          <button type="button" class="close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="contact"  method="post" >
                             {% csrf_token %}
                             {% for item in form %}
                                 <div class="fom_group text-right">
                                     {{ item.label_tag }}
                                     {{ item }}

                                 </div>
                             {% endfor %}
                      <button type="submit" class="custom-button" ><span>ارسال </span></button>
                </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="custom-button" data-dismiss="modal"> <span>بستن فرم </span></button>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}


   <script src="{% static 'assets/js/script_panels.js' %}"></script>
   <script>

    function setDelet(value)
      {
        document.getElementById("deleteItem").href=value;



    }
    function setvalue(namefull,email,masg,id)
      {

        document.getElementById("id_namefull").value=namefull;
        document.getElementById("id_email").value=email;
        document.getElementById("id_masg").value=masg;
        document.getElementById("id_id").value=id;



    }
</script>
{% endblock %}
