{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static '' %}assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">درباره ما</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    درباره
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========About Section Starts Here========== -->
<section class="about-section pos-rel padding-bottom padding-top oh">
    <div class="top-shape-center">
        <img src="{% static '' %}assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="{% static '' %}assets/css/img/bottom-shape.png" alt="css">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <span class="cate">به  مهد کودک ایین  خوش آمدید</span>
                    <h3 class="title">بهترین آموزش در مهد کودک ما</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none -mx-10">
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static '' %}assets/images/feature/01.png" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">کودک نوپاوشیر خوار</h5>
                        <span class="cate">(7ماه-3سال)</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static '' %}assets/images/feature/02.png" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">کودک نوباوه </h5>
                        <span class="cate">(3 – 4 ساله)</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static '' %}assets/images/feature/03.png" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">پیش 1</h5>
                        <span class="cate">(4 – 5 ساله)</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="{% static '' %}assets/images/feature/04.png" class="ml--8" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h5 class="title">پیش 2 </h5>
                        <span class="cate">(5 – 6 ساله)</span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-top about-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ltr d-none d-lg-block pl-4">
                        <img src="{% static '' %}assets/images/about/about03.png" alt="about">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header left-style mb-olpo">
                            <span class="cate">درباره ما</span>
                            <h3 class="title">توجه ویژه برای هر کودک</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی</p>
                        </div>
                        <div class="faq-wrapper mb--10">
                            <div class="faq-item">
                                <div class="faq-title">
                                    <span class="right-icon"></span><h5 class="title">محیط یادگیری</h5>
                                </div>
                                <div class="faq-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                            <div class="faq-item active open">
                                <div class="faq-title">
                                    <span class="right-icon"></span><h5 class="title">مربیان حرفه ای</h5>
                                </div>
                                <div class="faq-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                            <div class="faq-item">
                                <div class="faq-title">
                                    <span class="right-icon"></span><h5 class="title">برنامه ها برای همه</h5>
                                </div>
                                <div class="faq-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About Section Ends Here========== -->


<!-- ==========Counter Section Starts Here========== -->
<div class="counter-section padding-top padding-bottom bg_img" data-background="{% static '' %}assets/images/counter/counter-bg.jpg">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item round-style">
                    <div class="counter-thumb">
                        <img src="{% static '' %}assets/images/counter/counter4.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title odometer" data-odometer-final="830">0</h2>
                        </div>
                        <span class="cate">سن 3 - 4</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item round-style">
                    <div class="counter-thumb">
                        <img src="{% static '' %}assets/images/counter/counter5.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title">+</h2>
                            <h2 class="title odometer" data-odometer-final="26">0</h2>
                        </div>
                        <span class="cate">سن 10 - 12</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item round-style">
                    <div class="counter-thumb">
                        <img src="{% static '' %}assets/images/counter/counter6.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title">%</h2>
                            <h2 class="title odometer" data-odometer-final="100">0</h2>
                        </div>
                        <span class="cate">مجموع پسران</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="counter-item round-style">
                    <div class="counter-thumb">
                        <img src="{% static '' %}assets/images/counter/counter7.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <div class="counter-header">
                            <h2 class="title">%</h2>
                            <h2 class="title odometer" data-odometer-final="100">0</h2>
                        </div>
                        <span class="cate">مجموع دختران</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Counter Section Ends Here========== -->


<!-- ==========Teacher Section Starts Here========== -->

<!-- ==========Teacher Section Ends Here========== -->


<!-- ==========Map Section Starts Here========== -->
<div class="map-section pos-rel">
    <div class="maps"></div>
    <div class="contact-area padding-bottom padding-top pt-lg-0 pb-lg-0">
        <div class="container">
            <div class="contact-wrapper">
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static '' %}assets/images/contact/01.png" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">جلسات کلاس</h6>
                        <ul>
                            <li>شنبه - چهارشنبه</li>
                            <li>8 صبح - 11 صبح (جمعه تعطیل)</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static '' %}assets/images/contact/02.png" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">آدرس ما</h6>
                        <ul>
                            <li>ایران ، مشهد ، کلاهدوز ،  تورج18و16 ، مهد کودک ایین</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static '' %}assets/images/contact/03.png" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">ساعات کاری</h6>
                        <ul>
                            <li>شنبه - چهارشنبه</li>
                            <li>8 صبح - 5 بعد از ظهر</li>
                        </ul>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="contact-thumb">
                        <img src="{% static '' %}assets/images/contact/04.png" alt="contact">
                    </div>
                    <div class="contact-content">
                        <h6 class="title">تلفن و ایمیل</h6>
                        <ul>
                            <li><a href="Tel:02112345678">02112345678, 02187654321</a></li>
                            <li><a href="Mailto:sfkljsdfsj@gmail.com">enroll@kittons.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 
{% block script %}


 <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}



  <!-- ===========Header Cart=========== -->

    <!-- ==========Banner Section Starts Here========== -->
   
 

