{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg'%}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">برنامه کلاس های ما</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="classes.html">کلاس ها</a>
                </li>
                <li>
                    برنامه کلاس ها
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Schedule Section Starts Here========== -->
<div class="schedule-section padding-top padding-bottom">
    <div class="container">
        <div class="row mb--20--50 justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="schedule-item-2 bg_img bg_contain" data-background="{% static 'assets/images/schedule/monday.png'%}">
                    <ul>
                        <li>
                            <h6 class="title painting">رنگ آمیزی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title">انگلیسی</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                        <li>
                            <h6 class="title fitness">کلاس ورزش</h6>
                            <span class="time">7:30 صبح - 8:30 صبح</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Schedule Section Ends Here========== -->



{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}
 