{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">  بارگذاری ورزش و بازی     </h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/index">خانه</a>
                </li>
                <li>
                    <a href="#">صفحات</a>
                </li>
                <li>
                  تصاویر
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Login Section Section Starts Here========== -->
<div class="login-section padding-top padding-bottom">
    <div class="container">
        <div class="account-wrapper">
            <h3 class="title">تصاویر  </h3>
            
            <form class="account-form"  action="saveimgvarzesh " method="post"  enctype="multipart/form-data" >
                {% csrf_token %}
                {% for item in forms %}
                    <div class="p-t-31 p-b-9 text-right">
                        {{ item.label_tag}}
                        {{ item }}
                    </div>
                {% endfor %}

            <div class="container-form-btn m-t-25">

                <button class="btn btn-primary mt-5" type="submit" >
                 ذخیره 
                </button>
            </div>
            </form>
           
        </div>
    </div>
</div>
<!-- ==========Login Section Section Ends Here========== -->

{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}
