{% extends "layout.html" %}
{% block body %}
<section class="page-header bg_img" data-background="assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">جزئیات مناسبت</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="events.html">مناسبت ها</a>
                </li>
                <li>
                    جزئیات مناسبت
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Events Single Section Starts Here========== -->
<section class="events-single-section padding-top padding-bottom">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-8 mb-50">
                <div class="class-single-item">
                    <div class="class-single-inner">
                        <div class="event-thumb">
                            <img src="assets/images/events/events-single.jpg" alt="events">
                            <div class="date-tag">
                                <h3 class="title">14</h3>
                                <span class="mon">مرداد 99</span>
                            </div>
                        </div>
                        <div class="class-single-content">
                            <div class="countdown-area">
                            <h4 class="counts-title">مناسبت ها شروع می شود :</h4>
                                <ul class="countdown">
                                    <li>
                                        <h4 class="count-title"><span class="days">00</span></h4>
                                        <p class="days_text">روز</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="hours">00</span></h4>
                                        <p class="hours_text">ساعت</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="minutes">00</span></h4>
                                        <p class="minu_text">دقیقه</p>
                                    </li>
                                    <li>
                                        <h4 class="count-title"><span class="seconds">00</span></h4>
                                        <p class="seco_text">ثانیه</p>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                            </p>
                            <blockquote class="single-quote">
                                <div class="quotes">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای 
                                    <span>ملیسا هانتر ...</span>
                                </div>
                            </blockquote>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                            </p>
                            <div class="maps single-page-maps"></div>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                            </p>
                        </div>
                        <div class="tags-area">
                            <ul class="tags">
                                <li>
                                    <a href="#">مدارس</a>
                                </li>
                                <li>
                                    <a href="#" class="active">تحصیلات</a>
                                </li>
                                <li>
                                    <a href="#">پذیرش</a>
                                </li>
                                <li>
                                    <a href="#">امتحانات</a>
                                </li>
                            </ul>
                            <ul class="share">
                                <li>
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="dribble"><i class="fab fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-50">
                <aside>
                    <div class="widget widget-feature">
                        <div class="widget-header">
                            <h5 class="title">ویژگی های دوره</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="ques cl-i-one"><i class="fas fa-bell"></i>تاریخ شروع</div>
                                    <div class="ans">24 مرداد 1400</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-two"><i class="fas fa-user"></i>سن</div>
                                    <div class="ans">4 - 6 سال</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-three"><i class="fas fa-sitemap"></i>ظرفیت کلاس</div>
                                    <div class="ans">20 - 30 کودک</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-four"><i class="fas fa-bus"></i>زمان</div>
                                    <div class="ans">5 ساعت / 6 روز</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-five"><i class="fas fa-address-book"></i>مدت زمان کلاس</div>
                                    <div class="ans">10 - 12 ماه</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-six"><i class="fas fa-clock"></i>زمان کلاس</div>
                                    <div class="ans">9 صبح - 12 بعد از ظهر</div>
                                </li>
                                <li>
                                    <div class="ques cl-i-seven"><i class="fas fa-star"></i>رتبه بندی</div>
                                    <div class="ans cl-i-seven"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                </li>
                                <li>
                                    <div class="ques cl-i-eight"><i class="fas fa-coins"></i>شهریه</div>
                                    <div class="ans">250 تومان</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-post">
                        <div class="widget-header">
                            <h5 class="title">محبوب ترین پست ها</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/images/blog/side1.jpg" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">چگونه کودکان تجربه های زندگی را درک می کنند</a>
                                        <span>15 خرداد ، 1400</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/images/blog/side2.jpg" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">چرا مهارت های هوازی مهارت های ریاضی بهتری دارند</a>
                                        <span>15 خرداد ، 1400</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/images/blog/side3.jpg" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">چگونه کودکان تجربه های زندگی را درک می کنند</a>
                                        <span>15 خرداد ، 1400</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="assets/images/blog/side4.jpg" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="#">مرکز پشتیبانی چه برای ارائه دهنده نیمه هادی</a>
                                        <span>15 خرداد ، 1400</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-gallery">
                        <div class="widget-header">
                            <h5 class="title">عکس های گالری</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a href="assets/images/gallery/gallery7.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery7.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery8.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery8.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery9.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery9.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery10.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery10.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery11.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery11.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery12.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery12.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery8.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery8.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery9.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery9.jpg" alt="gallery">
                                    </a>
                                </li>
                                <li>
                                    <a href="assets/images/gallery/gallery10.jpg" class="img-pop">
                                        <img src="assets/images/gallery/gallery10.jpg" alt="gallery">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-tags">
                        <div class="widget-header">
                            <h5 class="title">برچسب های محبوب</h5>
                        </div>
                        <div class="widget-body">
                            <ul class="tags">
                                <li>
                                    <a href="#">راستچین</a>
                                </li>
                                <li>
                                    <a href="#" class="active">وردپرس</a>
                                </li>
                                <li>
                                    <a href="#">گرافیک نویس</a>
                                </li>
                                <li>
                                    <a href="#">فیلم ویدیویی</a>
                                </li>
                                <li>
                                    <a href="#">جوملا</a>
                                </li>
                                <li>
                                    <a href="#">اقیانوس</a>
                                </li>
                                <li>
                                    <a href="#">راستچین</a>
                                </li>
                                <li>
                                    <a href="#">وردپرس</a>
                                </li>
                                <li>
                                    <a href="#">گرافیک نویس</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}


    