{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">صفحه مناسبت های ما</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="#">صفحات</a>
                </li>
                <li>
                    مناسبت ها
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Events Section Starts Here========== -->
<div class="events-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="assets/css/img/bottom-shape.png" alt="css">
    </div>
    <div class="container">
        <ul class="filter">
            <li data-filter="*">نمایش همه</li>
            <li data-filter=".toddler">کودک نوپا</li>
            <li data-filter=".preschool">پیش دبستانی</li>
            <li data-filter=".kinder">مهد کودک</li>
            <li data-filter=".programe">برنامه پیش</li>
            <li data-filter=".school">قبل/بعد از مدرسه</li>
        </ul>
        <div class="class-wrapper">
            <div class="class-inner programe">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events01.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">لورم ایپسوم متن ساختگی با تولید سادگی!</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner school kinder">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events02.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">طراحان خلاقی و فرهنگ پیشرو در زبان فارسی</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner programe kinder">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events05.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">لورم ایپسوم متن ساختگی با تولید سادگی!</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner preschool">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events06.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">طراحان خلاقی و فرهنگ پیشرو در زبان فارسی</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner toddler school">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events04.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">لورم ایپسوم متن ساختگی با تولید سادگی!</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner preschool">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events07.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">طراحان خلاقی و فرهنگ پیشرو در زبان فارسی</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner toddler programe">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events03.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">لورم ایپسوم متن ساختگی با تولید سادگی!</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner preschool kinder">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events08.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">طراحان خلاقی و فرهنگ پیشرو در زبان فارسی</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="class-inner toddler school">
                <div class="event-item">
                    <div class="event-thumb">
                        <a href="events-single.html"><img src="assets/images/events/events09.jpg" alt="events"></a>
                        <div class="date-tag">
                            <h3 class="title">14</h3>
                            <span class="mon">مرداد 99</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h5 class="title">
                            <a href="events-single.html">لورم ایپسوم متن ساختگی با تولید سادگی!</a>
                        </h5>
                        <ul class="events-info">
                            <li><i class="fas fa-clock"></i> 8 صبح تا 12 بعد از ظهر </li>
                            <li><i class="fas fa-home"></i> زعفرانیه ، خیابان فرشته. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="default-pagination">
            <li>
                <a href="#"><i class="fas fa-angle-right"></i></a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#" class="active">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-angle-left"></i></a>
            </li>
        </ul>
    </div>
</div>
<!-- ==========Events Section Ends Here========== -->
{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}


    