{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title"> از دیدن عکس ها لذت ببرید  </h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/index">صفحه اصلی</a>
                </li>
                <li>
                   
                        <a href="/filter/Option1 "> پیش1</a>
                        <a href="/filter/Option2">  پیش2</a>
                        <a href="/filter/Option3"> نقاشی</a>
                        <a href="/filter/Option4"> ورزش</a>
                        <a href="/filter/Option5"> مربی</a>
                        <a href="/filter/Option6"> کودک</a>
                        <a href="/filter/Option7"> مهد</a>
                </li>  
               
               
             
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Login Section Section Starts Here========== -->
<div class="gallery-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{%static 'assets/css/img/gallery1.png'%}" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="{%static 'assets/css/img/bottom-shape.png'%}" alt="css">
    </div>
  
   
    <div class="masonary-item preschool kinder">
        <div class="masonary-thumb">
           
           
           
        
        </div>
       
    </div> 
       
       
  

   
    {% csrf_token %}
    {% for item in images %}
        <div class="masonary-item preschool kinder">
            <div class="masonary-thumb">
               
              
                <img src="{{item.image.url}}" alt="gallery"> 
            
            </div>
           
        </div>
        {% endfor %}   
</div> 

<!-- ==========Login Section Section Ends Here========== -->

{% endblock %}
{% block script %}


   <script src="{% static 'assets/js/script_panels.js' %}"></script>
{% endblock %}
