{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">عکس های   پرسنل     </h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="#">صفحات</a>
                </li>
                <li>
                    گالری
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Gallery Section Starts Here========== -->
<div class="gallery-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="assets/css/img/gallery1.png" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="assets/css/img/bottom-shape.png" alt="css">
    </div>
    <div class="container">
        <ul class="filter-2">
            <li data-filter="*" class="active"><span class="category">نمایش همه</span><span class="amount">9</span></li>
            <li data-filter=".toddler"><span class="category">کودک نوپا</span><span class="amount">5</span></li>
            <li data-filter=".preschool"><span class="category">پیش دبستانی</span><span class="amount">6</span></li>
            <li data-filter=".programe"><span class="category">مهد کودک</span><span class="amount">3</span></li>
            <li data-filter=".kinder"><span class="category">برنامه پیش</span><span class="amount">6</span></li>
        </ul>
        <div class="masonary-wrapper lg-three-items">
            <div class="masonary-item preschool programe">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl1.jpg"><img src="assets/images/gallery/gl1.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">لورم ایپسوم متن ساختگی</h5>
                        <span>مالی | انسان</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item toddler kinder">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl2.jpg"><img src="assets/images/gallery/gl2.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">سطرآنچنان که لازم است</h5>
                        <span>مالی | انسان</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item preschool kinder">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl3.jpg"><img src="assets/images/gallery/gl3.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">طراحان خلاقی و فرهنگ پیشرو</h5>
                        <span>منابع | استراتژی</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item toddler programe">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl4.jpg"><img src="assets/images/gallery/gl4.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">لورم ایپسوم متن ساختگی</h5>
                        <span>شروع به کار | منابع</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item preschool kinder">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl5.jpg"><img src="assets/images/gallery/gl5.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">سطرآنچنان که لازم است</h5>
                        <span>مالی | انسان</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item toddler preschool kinder">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl6.jpg"><img src="assets/images/gallery/gl6.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">طراحان خلاقی و فرهنگ پیشرو</h5>
                        <span>منابع | استراتژی</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item preschool programe">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl7.jpg"><img src="assets/images/gallery/gl7.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">لورم ایپسوم متن ساختگی</h5>
                        <span>شروع به کار | منابع</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item toddler kinder">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl8.jpg"><img src="assets/images/gallery/gl8.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">سطرآنچنان که لازم است</h5>
                        <span>منابع | استراتژی</span>
                    </div>
                </div>
            </div>
            <div class="masonary-item toddler kinder preschool">
                <div class="gallery-item-3">
                    <div class="gallery-thumb">
                        <a class="img-pop" href="assets/images/gallery/gl9.jpg"><img src="assets/images/gallery/gl9.jpg" alt="gallery"></a>
                    </div>
                    <div class="gallery-content">
                        <h5 class="title">طراحان خلاقی و فرهنگ پیشرو</h5>
                        <span>شروع به کار | منابع</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more">
            <a href="/creatimagep" class="custom-button"><span>واردکردن عکس ها </span></a>
        </div>
    </div>
</div>
<!-- ==========Gallery Section Ends Here========== -->
{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}

   