{% extends "layout.html" %}
{% load static %}
<style> .hidden{display:none;}</style>
{% block body %}
<style> .hidden{display:none;}</style>
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg'%}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">عکس های مهد کودک  ما</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="#">صفحات</a>
                </li>
                <li>
                    گالری
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Gallery Section Starts Here========== -->
<div class="gallery-section padding-top padding-bottom pos-rel">
    <div class="top-shape-center">
        <img src="{%static 'assets/css/img/gallery1.png'%}" alt="css">
    </div>
    <div class="bottom-shape-left">
        <img src="{%static 'assets/css/img/bottom-shape.png'%}" alt="css">
    </div>
    <div class="container">
       
       
        <div id="filter-buttons">
            <button type="button" class="btn btn-info ml-2   DOMContetLoaded"data-category="all">همه</button>
            <button type="submit" class="btn btn-info ml-2   category"data-category="imgpish1">پیش1</button>
            <button data-category="imgpish2">پیش2</button>
            <button data-category="imgvarzesh">ورزش و بازی </button>
            <button data-category="imgnaghashi">نقاشی و کاردستی</button>
            <button data-category="imgmahd"> مهد کودک </button>
        </div>
        <div  class="image-gallery" style="width:400px">
                
            
            {% for item in pish1 %}         <img src="{{ item.pish1.url }}"class="imgpish1"alt="پیش1">                       {% endfor %}
            {% for item in pish2 %}         <img src="{{ item.pish2.url }}"class="imgpish2"alt="پیش2">                       {% endfor %}
            {% for item in varzesh %}       <img src="{{ item.varzesh.url }}"class="imgvarzesh"alt="ورزش">                   {% endfor %}  
            {% for item in naghashi %}      <img src="{{ item.naghashi.url }}"class="imgnaghashi"alt=" نقاشی و کاردستی">    {% endfor %}
            {% for item in mahd %}          <img src="{{ item.mahd.url }}"class="imgmahd"alt="مهد کودک ">                    {% endfor %} 
        </div>
           
       
     
    </div>
</div>
<!-- ==========Gallery Section Ends Here========== -->



{% endblock %}
  <!-- ===========Header Cart=========== -->

    <!-- ==========Banner Section Starts Here========== -->
    {% block script %}


    <script src="{% static 'assets/js/script_panels.js' %}"></script>
 {% endblock %}
    