<div class="row"  dir="rtl">
    <div class="col-md-8" >
     <div class="card">
        <div class="card-header text-right " >

            <button type="button" class="btn btn-primary"  onclick="creature()" data-toggle="modal" data-target="#myModal">
               افزودن سوال
            </button>
        </div>
            <div class="card-body">
                <form method="post" class="form-getdata" action="">
                      {% csrf_token %}
                    <input type="hidden"  name="tocken" value="bvnbvnvnb">
                    <div class="form-group text-right">
                        <label for="search" >جستجو</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="جستجو کنید">

                    </div>
                    <div class="wite" >

                    </div>


                </form>


                   <table class="table">
                      <thead>
                        <tr>
                          <th>عنوان سوال </th>
                          <th>متن سوال </th>
                          <th>تاریخ ارسال </th>

                          <th>اعمال  </th>

                        </tr>
                      </thead>
                      <tbody class="body-tabel">
                              {% for item in dataask %}
                                  <tr>
                          <td>{{item.title}}</td>
                          <td>{{item.caption}}</td>


                          <td>{{item.created}}</td>

                          <td>                           <button type="button"  onclick="setdata('{{item.title}}','{{item.caption}}','{{item.id}}')"
                                                                  class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                            ویرایش
                                                          </button>

                                                          <button type="button"  onclick="$('.id').val('{{item.id}}')"
                                                                  class="btn btn-danger" data-toggle="modal" data-target="#myModaldelet">
                                                          حذف
                                                          </button>
                                                                <a href="/get_ask_with_comment/{{item.id}}">پاسخ</a>










                        </tr>
                              {% endfor %}


                      </tbody>
                  </table>



        </div>

      </div>
    </div>
</div>




<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="direction:rtl;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">پرسش</h4>
          <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-right">
            <form method="post" action="" class="frm">
                      {% csrf_token %}
                        {% for item in  panelask %}
                             <div class="form-group">
                                            {{ item.label_tag }}
                                            {{ item }}
                             </div>
                        {% endfor %}


                       <div class="alert alert-info result " >

                       </div>
                <div class="text_center" >
                    <button type="button" class="btn btn-info ml-2  savedata " >ثبت سوال   </button>

                </div>
            </form>
        </div>



      </div>
    </div>
  </div>

<div class="modal" id="myModaldelet">
    <div class="modal-dialog">
      <div class="modal-content" style="direction:rtl;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تاییدیه حذف</h4>
          <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-right">
            <form method="post" action="" class="frm-delet">
                  {% csrf_token %}
                <input type="hidden" name="id" class="id">
                    ایا مایل به حذف هستید


                       <div class="alert alert-info result-delet " >

                       </div>
                <div class="text_center" >
                    <button type="button" class="btn btn-info ml-2  ok_delet " >بله   </button>

                </div>
            </form>
        </div>



      </div>
    </div>
</div>
  hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
  <div class="row"  dir="rtl">
    <div class="col-md-8" >
     <div class="card">
        <div class="card-header text-right " >


        </div>
            <div class="card-body">
                   <table class="table">
                      <thead>
                        <tr>
                          <th>عنوان سوال </th>
                          <th>متن سوال </th>
                          <th>تاریخ ارسال </th>

                          <th>اعمال  </th>

                        </tr>
                      </thead>
                      <tbody class="body-tabel">
                              {% for item in dataask %}
                                  <tr>
                          <td>{{item.title}}</td>
                          <td>{{item.caption}}</td>
                          <td>{{item.created}}</td>

                          <td>

                                                          <button type="button"  onclick="getdata({{item.id}})"
                                                                  class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                                      پاسخ
                                                          </button>

                                  </tr>
                              {% endfor %}


                      </tbody>
                   </table> 
        </div>

      </div>
    </div>
</div>




<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="direction:rtl;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">پاسخ</h4>
          <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body text-right">
            <form method="post" action="" class="formj">
                      {% csrf_token %}
                        {% for item in  commentasks %}
                             <div class="fom_group text-right">
                                            {{ item.label_tag }}
                                            {{ item }}
                             </div>


                        {% endfor %}


                       <div class="alert alert-info resultj " >

                       </div>
                <div class="text_center" >
                    <button type="button" class="btn btn-info ml-2  savej" >ثبت جواب   </button>
                       <div class="mb-4">
                                    <input id="ask_id"  name="ask_id" type="hidden" value="">
                                </div>
                </div>
            </form>
        </div>



      </div>
    </div>
  </div>

lllllllllllllllllllllllll
<div class="row"  dir="rtl">
  <div class="col-md-8" >
   <div class="card">
      <div class="card-header text-right " >
      </div>
          <div class="card-body">
              <table class="table">
                  <thead>
                    <tr>

                        <th>جواب سوال </th>

                    </tr>
                  </thead>
                  <tbody class="body-tabel">

                              <tr>

                                  <td>{{ listmyjavab.text }}</td>



                              </tr>



                  </tbody>
</table>



      </div>

    </div>
  </div>
</div>


