{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">فروشگاه ما</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="#">صفحات</a>
                </li>
                <li>
                    فروشگاه
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Shop Section Starts Here========== -->            
<div class="shop-page padding-top padding-bottom">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-8 col-xl-9 mb-50">
                <div class="shop-title d-flex flex-wrap justify-content-between">
                    <p>نمایش 1 - 12 از 139 نتایج</p>
                    <div class="product-view-mode">
                        <a class="active" data-target="grid"><i class="fas fa-th"></i></a>
                        <a data-target="list"><i class="fas fa-list"></i></a>
                    </div>
                </div>
                <div class="shop-product-wrap grid row mb-30-none">
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/01.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/01.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/02.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/02.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/03.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/03.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/04.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/04.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/05.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/05.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/06.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/06.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/07.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/07.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/08.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/08.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/09.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                            </div>
                        </div>
                        <div class="product-list-item">
                            <div class="product-thumb">
                                <img src="assets/images/shop/09.png" alt="shop">
                                <div class="product-action-link">
                                    <a class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
                                    <a href="#"><i class="far fa-heart"></i></a>
                                    <a href="#"><i class="fas fa-cart-plus"></i></a>
                                    <a href="#"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                <p>
                                    <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                </p>
                                <h6 class="subtitle">200 تومان</h6>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="default-pagination">
                    <li>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#" class="active">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-angle-left"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xl-3 mb-50">
                <div class="single-sidebar">
                    <div class="widget widget-search">
                        <div class="widget-body">
                            <form class="search-form">
                                <input type="text" placeholder="جستجو">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget-category">
                        <div class="widget-header">
                            <h5 class="title">دسته بندی پست ها</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>راستچین</span><span>15</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>کدکنیون</span><span>16</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>گرافیک نویس</span><span>15</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>گالری عکس</span><span>14</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>نمایش ویدیویی</span><span>27</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>اقیانوس</span><span>13</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>وردپرس</span><span>22</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>جوملا</span><span>17</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-product">
                        <div class="widget-header">
                            <h5 class="title">آخرین محصولات</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="product-thumb">
                                        <a href="#"><img src="assets/images/shop/01.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="#"><img src="assets/images/shop/02.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="#"><img src="assets/images/shop/03.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="#"><img src="assets/images/shop/04.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="quick_view">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
                    <div class="modal-body">
                        <div class="product-details-inner">
                            <div class="row">
                                  <div class="col-lg-5 col-12">
                                      <div class="popup-slide">
                                          <div class="slider-for">
                                              <div class="thumb">
                                                  <img src="assets/images/shop/01.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/02.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/03.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/04.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/05.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/06.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/07.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/08.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/09.jpg" alt="shop">
                                              </div>
                                          </div>
                                          <div class="slider-nav">
                                              <div class="thumb">
                                                  <img src="assets/images/shop/01.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/02.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/03.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/04.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/05.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/06.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/07.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/08.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/09.png" alt="shop">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <div class="col-lg-7">
                                    <div class="product-content">
                                        <h5 class="title"><a href="shop-single.html">کیف های بچگانه</a></h5>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6>
                                            200 تومان
                                        </h6>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                        </p>
                                        <div class="cart-button-2">
                                            <div class="cart-plus-minus">
                                                <div class="dec qtybutton">-</div>
                                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                                <div class="inc qtybutton">+</div>
                                            </div>
                                            <button type="submit">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Shop Section Ends Here========== -->

{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}


    