{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="assets/images/banner/page-header.jpg">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">جزئیات محصول</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">خانه</a>
                </li>
                <li>
                    <a href="#">فروشگاه</a>
                </li>
                <li>
                    جزئیات محصول
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Shop Section Starts Here========== -->            
<div class="shop-page padding-top padding-bottom">
    <div class="container">
        <div class="row mb--50">
            <div class="col-lg-8 col-xl-9 mb-50">
                <div class="product-details mb-30">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="product-single-thumb o">
                                <div class="slider-for">
                                    <div class="thumb">
                                        <img id="myimage" src="assets/images/shop/10.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage8" src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage1" src="assets/images/shop/12.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage2" src="assets/images/shop/13.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage3" src="assets/images/shop/10.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage4" src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage5" src="assets/images/shop/12.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage6" src="assets/images/shop/13.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img id="myimage7" src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                </div>
                                <div class="slider-nav">
                                    <div class="thumb">
                                        <img src="assets/images/shop/10.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/12.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/13.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/10.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/12.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/13.png" alt="shop">
                                    </div>
                                    <div class="thumb">
                                        <img src="assets/images/shop/11.png" alt="shop">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="product-single-content">
                                <h5 class="title">کیف های بچگانه</h5>
                                <p class="rating">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    (3 نظرات)
                                </p>
                                <h5 class="amount">
                                    340 تومان
                                </h5>
                                <h5 class="subtitle">
                                    توضیحات محصول
                                </h5>
                                <p class="info">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله.
                                </p>
                                <form class="size-form">
                                    <div class="select-product">
                                        <select class="select-bar">
                                            <option>انتخاب سایز</option>
                                            <option>SM</option>
                                            <option>MD</option>
                                            <option>LG</option>
                                            <option>XL</option>
                                            <option>XXL</option>
                                        </select>
                                    </div>
                                    <div class="select-product">
                                        <select class="select-bar">
                                            <option>انتخاب رنگ</option>
                                            <option>صورتی</option>
                                            <option>خاکستر</option>
                                            <option>قرمز</option>
                                            <option>سفید</option>
                                            <option>آبی</option>
                                        </select>
                                    </div>
                                    <div class="cart-plus-minus">
                                        <div class="dec qtybutton">-</div>
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                        <div class="inc qtybutton">+</div>
                                    </div>
                                    <div class="discount-code">
                                        <input type="text" placeholder="کد تخفیف را وارد کنید">
                                    </div>
                                    <button type="submit" class="custom-button"><span>افزودن به سبد خرید</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <ul class="review-nav">
                        <li class="desc" data-target="description-show">توضیحات</li>
                        <li class="rev active" data-target="review-content-show">نظرات 4</li>
                    </ul>
                    <div class="review-content review-content-show">
                        <div class="review-showing">
                            <ul class="content">
                                <li>
                                    <div class="rev-thumb-2">
                                        <img src="assets/images/shop/review-icon-four.png" alt="shop">
                                    </div>
                                    <div class="rev-content-2">
                                        <div class="entry-meta">
                                            <div class="posted-on">
                                                <a href="#">مسعود راستی</a>
                                                <p>ارسال شده در 25 فروردین 1400 ساعت 6:57 صبح</p>
                                            </div>
                                            <div class="rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rev-thumb-2">
                                        <img src="assets/images/shop/review-icon-one.png" alt="shop">
                                    </div>
                                    <div class="rev-content-2">
                                        <div class="entry-meta">
                                            <div class="posted-on">
                                                <a href="#">الناز روستایی</a>
                                                <p>ارسال شده در 25 فروردین 1400 ساعت 6:57 صبح</p>
                                            </div>
                                            <div class="rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rev-thumb-2">
                                        <img src="assets/images/shop/review-icon-two.png" alt="shop">
                                    </div>
                                    <div class="rev-content-2">
                                        <div class="entry-meta">
                                            <div class="posted-on">
                                                <a href="#">رضا کیمیا</a>
                                                <p>ارسال شده در 25 فروردین 1400 ساعت 6:57 صبح</p>
                                            </div>
                                            <div class="rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rev-thumb-2">
                                        <img src="assets/images/shop/review-icon-three.png" alt="shop">
                                    </div>
                                    <div class="rev-content-2">
                                        <div class="entry-meta">
                                            <div class="posted-on">
                                                <a href="#">مسعود راستی</a>
                                                <p>ارسال شده در 25 فروردین 1400 ساعت 6:57 صبح</p>
                                            </div>
                                            <div class="rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="entry-content">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="client-review">
                                <div class="review-form">
                                    <div class="review-title">
                                        <h5 class="title">ارسال نظرات</h5>
                                    </div>
                                    <form action="#" class="row client-form">
                                        <div class="col-md-4 col-12">
                                            <input type="text" name="name" placeholder="نام و نام خانوادگی">
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <input type="text" name="email" placeholder="آدرس ایمیل">
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="rating">
                                                <span class="rating-title">امتیاز شما : </span>
                                                <ul>
                                                    <li>
                                                        <i class="far fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="far fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="far fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="far fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="far fa-star"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12 d-inline-flex">
                                            <textarea rows="5" placeholder="پیام را تایپ کنید"></textarea>
                                        </div>
                                        <div class="col-12 mb-0">
                                            <button type="submit" class="custom-button"><span>ارسال نظر</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای.</p>
                            <div class="rev-item">
                                <div class="rev-thumb">
                                    <img src="assets/images/shop/rev.jpg" alt="shop">
                                </div>
                                <div class="rev-content">
                                    <ul>
                                        <li>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                        </li>
                                        <li>
                                            صنعت چاپ و با استفاده از طراحان گرافیک است.
                                        </li>
                                        <li>
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع.
                                        </li>
                                        <li>
                                            طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت.
                                        </li>
                                        <li>
                                            حروفچینی دستاوردهای اصلی و جوابگوی.
                                        </li>
                                        <li>
                                            سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده.
                                        </li>
                                        <li>
                                            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای..
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-50">
                <div class="single-sidebar">
                    <div class="widget widget-search">
                        <div class="widget-body">
                            <form class="search-form">
                                <input type="text" placeholder="جستجو">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget-category">
                        <div class="widget-header">
                            <h5 class="title">دسته بندی پست ها</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>راستچین</span><span>15</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>کدکنیون</span><span>16</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>گرافیک نویس</span><span>15</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>گالری عکس</span><span>14</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>نمایش ویدیویی</span><span>27</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>اقیانوس</span><span>13</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>وردپرس</span><span>22</span></a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fas fa-angle-double-left"></i>جوملا</span><span>17</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-product">
                        <div class="widget-header">
                            <h5 class="title">آخرین محصولات</h5>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <div class="product-thumb">
                                        <a href="shop-single.html"><img src="assets/images/shop/01.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="shop-single.html"><img src="assets/images/shop/02.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="shop-single.html"><img src="assets/images/shop/03.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="product-thumb">
                                        <a href="shop-single.html"><img src="assets/images/shop/04.jpg" alt="shop"></a>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="shop-single.html">کیف های بچگانه</a></h6>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6 class="subtitle">200 تومان</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="quick_view">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
                    <div class="modal-body">
                        <div class="product-details-inner">
                            <div class="row">
                                  <div class="col-lg-5 col-12">
                                      <div class="popup-slide">
                                          <div class="slider-for">
                                              <div class="thumb">
                                                  <img src="assets/images/shop/01.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/02.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/03.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/04.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/05.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/06.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/07.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/08.jpg" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/09.jpg" alt="shop">
                                              </div>
                                          </div>
                                          <div class="slider-nav">
                                              <div class="thumb">
                                                  <img src="assets/images/shop/01.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/02.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/03.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/04.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/05.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/06.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/07.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/08.png" alt="shop">
                                              </div>
                                              <div class="thumb">
                                                  <img src="assets/images/shop/09.png" alt="shop">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <div class="col-lg-7">
                                    <div class="product-content">
                                        <h5 class="title"><a href="#">کیف های بچگانه</a></h5>
                                        <p>
                                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 نظرات)</span>
                                        </p>
                                        <h6>
                                            200 تومان
                                        </h6>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                        </p>
                                        <div class="cart-button-2">
                                            <div class="cart-plus-minus">
                                                <div class="dec qtybutton">-</div>
                                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                                <div class="inc qtybutton">+</div>
                                            </div>
                                            <button type="submit">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Shop Section Ends Here========== -->


{% endblock %}
{% block script %}


   <script src="{% static 'js/script_panels.js' %}"></script>
{% endblock %}


   