{% extends "layout.html" %}
{% load static %}
{% block body %}
<section class="page-header bg_img" data-background="{% static 'assets/images/banner/page-header.jpg' %}">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">  بارگذاری عکسها   </h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/index">خانه</a>
                </li>
              
               
               
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->


<!-- ==========Login Section Section Starts Here========== -->
<div class="login-section padding-top padding-bottom">
    <div class="container">
        <div class="account-wrapper">
            <h3 class="title">تصاویر  </h3>
            
            <form class="account-form" action= "upload_image" " method="post"  enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">ذخیره عکس</button>
                  
            </form>
           
               
             
        </div>
    </div>
</div>
<!-- ==========Login Section Section Ends Here========== -->

{% endblock %}
{% block script %}


   <script src="{% static 'assets/js/script_panels.js' %}"></script>
{% endblock %}
